.background-img {
    background-size: cover;
    background-position: 50% 10%;
    width: 30rem;
    height: 35.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 25%);
}

.random-info-wrapper {
    background: linear-gradient(0deg, rgba(255, 207, 207, 0.8), rgba(255, 214, 214, 0.8));
    border-radius: 0 0 10px 10px;
    height: 4.2rem;
    width: 100%;
    overflow-y: scroll;
    transition: 1s;
}

.random-info-wrapper::-webkit-scrollbar {
    display: none;
}


.random-info-wrapper:hover {
    background: linear-gradient(0deg, rgba(255, 207, 207, 0.9), rgba(255, 214, 214, 0.9));
    height: 14rem;
}

.random-info-wrapper h3 {
    color: #AA4949;
    font-size: 2rem;
    padding: 0;
    margin: 1rem;
}

.random-info-wrapper .Hobby p{
    padding: 1rem;
}

@media only screen and (max-width: 1000px) {
    .background-img {
        width: 100%;
    }
}