

.MatchBox h1 {
    color: #cf6868;
    font-style: italic;
}

.MatchBox .no-match {
    text-align: center;
    color: #a21313
}

.MatchBox {
    overflow-y: auto;
    /* border: 2px solid #d9aeba;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(234, 187, 187, 0.502); */
}

@media only screen and (max-width: 780px) {
    .MatchBox h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .MatchBox h1 {
        font-size: 1rem;
    }
}