.ExploreAll-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    gap: .5rem;
    padding: 1rem;
    height: 50rem;
    overflow-y: scroll;
    margin: 0rem 0rem 1rem 1rem;
    border: 2px solid #92D1CD;
    border-radius: 20px;
    box-shadow: 3px 4px 8px rgba(79, 153, 161, 0.401);
}

.ExploreAll-items::-webkit-scrollbar {
    display: none;
}



h1 {
    text-align: center;
}

.Match {
    margin: 0rem 0rem 1rem 1rem;
    padding: 2.56rem;
    border: 2px solid #92D1CD;
    border-radius: 20px;
    box-shadow: 3px 4px 8px rgba(79, 153, 161, 0.401);
    display: flex;
    justify-content: center;
}

.CreateProfile {
    color: rgb(81, 20, 20);
    text-align: center;
    font-size: 3rem;
    padding: 0 6rem;
    margin: 0 3rem 1rem 3rem;
    text-shadow: 2px 2px 5px #00000050;
}