.SearchBar-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 5rem;
    max-height: 5rem;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: #A76D6D;
    width: 100%;
}

.btn:hover {
    color: #FF0000;
}

.red {
    color: #FF0000;
}

select {
    font-size: 1.2rem;
    text-align: center;
}

.filter {
font-size: 1.5rem;
color: #A76D6D;
margin-right: 1rem;
width: 100%;
display: flex;
justify-content: center;
}