nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #92D1CD;
    height: 4rem;
    border-radius: 3px;
}

.Title {
    display: flex;
}

.T {
    display: flex;
    align-items: center;
    color: #FF776F;
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: 2px 2px 4px white;
}

.T:hover {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}

a:hover {
    color: rgb(237, 123, 142);
}

.Welcome-msg {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}

.Logo {
    background: url(./Heart-Logo.png);
    background-size: cover;
    background-position: center;
    height: 4rem;
    width: 4rem;
    animation: beat 1s infinite;
}

@keyframes beat {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }