.ConfirmDelete {
    border: 2px solid #92D1CD;
    border-radius: 10px;
    box-shadow: 3px 4px 8px rgb(79 153 161 / 40%);
    height: 30vh;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgba(233, 252, 255, 0.5), rgba(238, 255, 255, 0.5));
}

.ConfirmDelete * {
    text-align: center;
}

.Delete-btn {
    color: red;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.cancel-btn {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.ConfirmDelete .btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn-wrapper button:hover {
    opacity: 50%;
}

@media only screen and (max-width: 500px) {
    .ConfirmDelete {
        margin: 2rem;
        padding: 1rem;
    }
}