.Home-Wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.SearchBar {
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem 0 1.8rem;
}

.ExploreAll {
    grid-area: 2 / 1 / 11 / 8; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MatchBox {
    grid-area: 1 / 8 / 11 / 11; 
    margin: 2rem;
}