.sevenDays {
    background: url(./timeHeart/7days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.sixDays {
    background: url(./timeHeart/6days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.fiveDays {
    background: url(./timeHeart/5days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.fourDays {
    background: url(./timeHeart/4days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.threeDays {
    background: url(./timeHeart/3days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.twoDays {
    background: url(./timeHeart/2days.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.oneDay {
    background: url(./timeHeart/1day.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}